node_modules
npm-debug.log
.env
.env.local
.git
.gitignore
.vscode
.idea
README.md
docs/
.DS_Store
.dockerignore
Dockerfile
docker-compose.yml
**/*.md
.env.development.local
.env.test.local
.env.production.local
